/**
 * Featured Posts Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.featured-posts {
  .slick-track {
    display: flex !important;
  }
  .slick-slide {
    height: inherit !important;
  }
  .post__image-wrapper {
    .fit-image {
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
