/**
 * Treatment Header Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.treatment-header {
  .treatment-header__height {
    height: calc(100dvh - var(--topOffset));
    &.with-breadcrumbs {
      height: calc(100dvh - var(--topOffset) - 37px);
    }
    @screen lg {
      &.with-jumplinks {
        height: calc(100dvh - var(--topOffset) - 64px);
      }
      &.with-breadcrumbs.with-jumplinks {
        height: calc(100dvh - var(--topOffset) - 37px - 64px);
      }
    }
  }
  .fit-image::before,
  .loop-video-container::before {
    content: "";
    @apply absolute inset-0 z-10 w-full h-full;
    background: rgba(0, 0, 0, 0.40);
  }
  nav.yoast-breadcrumb {
    margin: 0;
    li.yoast-breadcrumb__link:last-of-type {
      color: theme(colors.brand.teal);
    }
    a:hover {
      text-decoration: underline;
    }
  }
}
